{% set index = true %}
{% set title = "О нас"%}

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="container mb16">
    <div class="breadcrumbs">
        <a href=""><span>Главная</span></a>/
        <span>О нас</span>
    </div>
</div>

<div class="container mb32">
    <h2>О нас</h2>
</div>

<div class="container">
    <div class="about row s-b fl-wrap">
        <div class="about__left">
            <picture>
                <source data-srcset="img/about.webp" type="image/webp">
                <img class="lazy" data-src="./img/about.png" alt="">
            </picture>
        </div>
        <div class="about__right col s-b">
            <p>Медицинский центр «На Лежневской» - это современная клиника для всей семьи, где медицинские услуги может получить каждый, от мала до велика. Сюда могут обратиться все, кто хочет быть здоровым и сохранить здоровье всей своей семьи, ведь самая важная ценность в жизни каждого – это здоровье.</p>
            <p>Комплексный подход к диагностике и лечению вкупе с индивидуальным отношением к каждому пациенту являются слагаемыми медицинских услуг на высоком уровне, которые могут получить даже самые требовательные клиенты. Профессионализм среднего медицинского персонала и специалистов по работе с клиентами обеспечивает такой сервис обслуживания, что позволяет избежать ненужной траты времени и сил.</p>
            <p>Все это плюс удобство расположения вблизи одной из оживленных дорожных артерий, куда можно с легкостью добраться из любого района города, и приемлемые цены идеально сочетается с инновационными подходами врачей в работе с клиентами, что делает медицинский центр «На Лежневской» одним из востребованных в городе.</p>
        </div>
    </div>
</div>

{% endblock %}