{% set title = "Услуга"%}

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="container mb16">
    <div class="breadcrumbs">
        <a href=""><span>Главная</span></a>/
        <a href=""><span>Услуги</span></a>/
        <span>УЗИ</span>
    </div>
</div>

<div class="container mb32">
    <h2>Ультразвуковое исследование</h2>
</div>

<div class="container">
    <div class="services row">
        <div class="services__body">
            <h3>О процедуре</h3>
            <div class="services__text">
                <p>Для современного мира семантический разбор внешних противодействий способствует повышению качества благоприятных перспектив. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы объективно рассмотрены соответствующими инстанциями. Имеется спорная точка зрения, гласящая примерно следующее: действия представителей оппозиции в равной степени предоставлены сами себе. А также непосредственные участники технического прогресса описаны максимально подробно. Идейные соображения высшего порядка, а также укрепление и развитие внутренней структуры предполагает независимые способы реализации</p>
                <p>Первоочередных требований. Являясь всего лишь частью общей картины, интерактивные прототипы обнародованы. Являясь всего лишь частью общей картины, интерактивные прототипы, вне зависимости от их уровня, должны быть разоблачены. Кстати,  сделанные на базе интернет-аналитики выводы лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус.</p>
            </div>
            <h3>Специалист</h3>
            <div class="spec__item col">
                <div class="spec__head vert-center mb16 row">
                    <div class="spec__img">
                        <img src="img/spec-img.png" alt="">
                    </div>
                    <div class="col">
                        <div class="spec__specialty">Специальность</div>
                        <div class="spec__name">Фамилия Имя Отчество</div>
                    </div>
                </div>
                <div class="spec__descr mt16 mb16">
                    <p>Значимость этих проблем настолько очевидна, что семантический разбор.</p>
                    <ul class="mt16">
                        <li><span>Значимость этих проблем</span></li>
                        <li><span>настолько очевидна, что</span></li>
                        <li><span>семантический разбор</span></li>
                    </ul>
                </div>
                <div class="spec__footer fl-wrap vert-center s-b row">
                    <button class="button1 animation1">Записаться на прием</button>
                    <a class="effect1" href="#">Подробнее</a>
                </div>
            </div>           
        </div>
        <aside>
            <div class="servicesList col">
                <h3>Запишитесь на услугу</h3>
                <div class="servicesList__item col">
                    <div class="servicesList__head vert-center row">
                        <h4 class="effect1">Дуплексное сканирование сосудов шеи</h4>
                        <div class="servicesList__price">
                            <span>650</span>₽
                        </div>
                    </div>
                    <div class="servicesList__hide col">
                        <span>Противопоказания</span>
                        <ul>
                            <li>Являясь всего лишь частью общей картины</li>
                            <li>В частности, внедрение современных методик однозначно</li>
                            <li>касаемо экономической целесообразности принимаемых</li>
                        </ul>
                        <button class="button1 animation1">Записаться на УЗИ</button>
                    </div>
                </div>
                <div class="servicesList__item col">
                    <div class="servicesList__head vert-center row">
                        <h4 class="effect1">Дуплексное сканирование сосудов шеи</h4>
                        <div class="servicesList__price">
                            <span>650</span>₽
                        </div>
                    </div>
                    <div class="servicesList__hide col">
                        <span>Противопоказания</span>
                        <ul>
                            <li>Являясь всего лишь частью общей картины</li>
                            <li>В частности, внедрение современных методик однозначно</li>
                            <li>касаемо экономической целесообразности принимаемых</li>
                        </ul>
                        <button class="button1 animation1">Записаться на УЗИ</button>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>

{% endblock %}