{% set index = true %}
{% set title = "Расписание"%}

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="container mb16">
    <div class="breadcrumbs">
        <a href="/"><span>Главная</span></a>
        <span>Расписание</span>
    </div>
</div>

<div class="container mb32">
    <h2>Расписание</h2>
</div>

<div class="container">
    <div class="graph">
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
        <div class="graph__item col">
            <div class="graph__head vert-center mb16 row">
                <div class="graph__img">
                    <img src="img/spec-img.png" alt="">
                </div>
                <div class="col">
                    <div class="graph__specialty">Специальность</div>
                    <div class="graph__name">Фамилия Имя Отчество</div>
                </div>
            </div>
            <div class="graph__descr col mb16">
                <span class="mb8">Понедельник, среда, пятница,</span>
                <span>в 16.00, 16.30, 17.00, 17.30, 18.00, 18.30</span>
            </div>
            <div class="graph__footer fl-wrap vert-center s-b row">
                <button class="button1 animation1">Записаться на прием</button>
                <a class="effect1" href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}