<div class="modal sign">
    <div class="close"></div>
    <div class="row">
        <div class="sign__descr col">
            <h4>Анализ кала на скрытую кровь</h4>
            <p class="mb32 mt8">Следует отметить, что сплочённость команды профессионалов обеспечивает широкому кругу (специалистов) участие в формировании как.</p>
            <h4>Подготовка к исследованию</h4>
            <ul>
                <li>Детям в возрасте до 1 года не принимать пищу в течение 30-40 минут до исследования.</li>
                <li>Детям в возрасте от 1 до 5 лет не принимать пищу в течение 2-3 часов до исследования.</li>
                <li>Не принимать пищу в течение 12 часов до исследования, можно пить чистую негазированную воду.</li>
                <li>Исключить физическое и эмоциональное перенапряжение в течение 30 минут до исследования.</li>
                <li>Не курить в течение 30 минут до исследования.</li>
            </ul>
        </div>
        <div class="sign__form col">
            <h3>Запись на анализы</h3>
            <form class="col" action="">
                <label class="col name"><span>Ваше имя</span><input type="text"></label>
                <label class="col phone"><span>Контактный телефон</span><input type="text"></label>
                <div class="row s-b">
                    <label class="col date"><span>Дата</span><input type="text"></label>
                    <label class="col time"><span>Время</span><input type="text"></label>
                </div>
                <button class="button1 animation1">Записаться на прием</button>
                <div class="checkbox">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="color-1" value="indigo">
                        <span>Я соглашаюсь на обработку персональных данных</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>