<a href="#" class="swiper-slide news__item col">
    <picture>
        <source data-srcset="img/new1.webp" type="image/webp">
        <img class="lazy" data-src="./img/new1.png" alt="">
    </picture>
    <div class="news__wrapper col">
        <span class="news__tag mb16">Здоровье</span>
        <h3>Женское здоровье — залог красоты и гармонии</h3>
        <p class="mt16 mb16">Каждой женщине, в не зависимости от возраста хочется быть любимой, красивой, счастливой и, конечно же, здоровой.</p>
        <div class="news__footer row s-b vert-center">
            <span class="news__date">6 октября 2020</span>
            <span class="link effect1">Подробнее</span>
        </div>
    </div>
</a>