<div class="container mt120">
    <div class="partners row vert-center">
        <picture>
            <source data-srcset="img/halva.webp" type="image/webp">
            <img class="lazy" data-src="./img/halva.png" alt="">
        </picture>
        <picture>
            <source data-srcset="img/helix.webp" type="image/webp">
            <img class="lazy" data-src="./img/helix.png" alt="">
        </picture>
        <picture>
            <source data-srcset="img/aspired.webp" type="image/webp">
            <img class="lazy" data-src="./img/aspired.png" alt="">
        </picture>
    </div>
</div>