<div class="swiper-slide spec__item col">
    <div class="spec__head vert-center mb16 row">
        <div class="spec__img">
            <img src="img/spec-img.png" alt="">
        </div>
        <div class="col">
            <div class="spec__specialty">Специальность</div>
            <div class="spec__name">Фамилия Имя Отчество</div>
        </div>
    </div>
    <div class="spec__descr mb16">
        <p>Значимость этих проблем настолько очевидна, что семантический разбор.</p>
        <ul class="mt16">
            <li><span>Значимость этих проблем</span></li>
            <li><span>настолько очевидна, что</span></li>
            <li><span>семантический разбор</span></li>
        </ul>
    </div>
    <div class="spec__footer fl-wrap vert-center s-b row">
        <button class="button1 animation1">Записаться на прием</button>
        <a class="effect1" href="#">Подробнее</a>
    </div>
</div>