.news {
    width: 100%;
    &__item {
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: 18px;
        line-height: 24px;
        color: $color1;
        box-sizing: border-box;
        height: fit-content;
        width: calc(20% - 16px);
        transition: .2s;
        @include r(1750px) {
            width: calc(25% - 16px);
        }
        @include r(1300px) {
            width: calc(33.33% - 16px);
        }
        @include r(950px) {
            width: calc(50% - 16px);
        }
        @include r(650px) {
            width: calc(100% - 16px);
        }
        &:hover {
            box-shadow: 0px 4px 7px $color3;
            transition: .2s;
        }
    }
    img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        margin-bottom: 5px;
    }
    &__wrapper {
        padding: 20px;
        height: 100%;
    }
    &__tag {
        padding: 5px 10px;
        background-color: #4ED174;
        color: white;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        display: block;
        border-radius: 3px;
        width: min-content;
        text-transform: uppercase;
    }
    &__date {
        font-size: 16px;
        line-height: 22px;
        color: #CCCCCC;
    }
    &__footer {
        margin-top: auto;
        .link, a {
            color: $color3;
            font-weight: 500;
        }
    }
    p, h3 {
        color: #424B54;
    }
    p {
        overflow-y: auto;
        max-height: 200px;
        @extend %custom-scroll;
    }
}